body {
background-image: url("bakgrundenful.jpg");
}


h1 {
    background-color: black;
    color: green;
    text-align: center;
    font-size: 100px;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    text-decoration: underline overline;
    text-decoration-style: wavy;
    font-style: italic;
}

p {
    font-family: "Comic Sans MS";
    font-size: x-large;
    background-color: teal;
    transform: rotate(45deg);
    color: red;
}

h3 {
    font-family: "Comic Sans MS";
    font-size: x-large;
    background-color: teal;
    transform: rotate(-45deg);
    color: red;
}